<%- include('../partials/header') %>

<link rel='stylesheet' href='/stylesheets/style.css' />
<form id="new-form"  action="/places" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Where:</label>
    <input type="text" name="where">
    <label>Information About The Place</label>
    <textarea name="information"></textarea>
    <input type="submit" value="Add Place">
</form>

<%- include('../partials/footer') %>