<%- include('../partials/header') %>

<link rel='stylesheet' href='/stylesheets/style.css' />
<form id="new-form"  action="/places" method="POST">
    <label class="p-item">Name:</label>
    <input  type="text" name="name">
    <label class="p-item">Where:</label>
    <input type="text" name="where">
    <label class="p-item">Information About The Place</label>
    <textarea name="information"></textarea>
    <input class="button-p" type="submit" value="Add Place">
</form>

<%- include('../partials/footer') %>