<%- include('../partials/header') %>

<div class="restaurant-add">
<form class="add-restaurant-form" action="/restaurants" method="POST">
  <label class="r-item">Name:</label>
  <input class="r-box" type="text" name="name">
  <label class="r-item" >Rating:</label>
  <select class="rating" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <input class="button-r" type="submit" value="Add Restaurant">
</form>
</div>
<%- include('../partials/footer') %>


